.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  padding-left: 100px;
  margin-top: 120px;
}

.cart-container {
  text-align: center;
}

.btn-review-order {
  margin-top: 10px;
  width: 100%;
  font-size: 16px;
  border-radius: 4px;
  background-color: #f3a006;
  color: #ffffff;
}
